<!-- <p>footer works!</p> -->
<!-- Footer -->
<div class="footer">
    <div class="line line-1">
      <div class="wave wave1" style="background-image: url(../../assets/border-img/border-img/1.png);"></div>
    </div>
    <div class="line line-2">
      <div class="wave wave2" style="background-image: url(../../assets/border-img/border-img/2.png);"></div>
    </div>
    <div class="line line-3">
      <div class="wave wave3" style="background-image: url(../../assets/border-img/border-img/3.png);"></div>
    </div>
  </div>