<!-- <p>main works!</p> -->

<html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/4fa68a2fcb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <br>
        <br>
        <br><br>
        <section>
            <div class="container-fluid col-8 shadow w3-animate-bottom" id="text">
                Hello, you've reached <span style="color: honeydew;">Kunal</span>
            </div>
            <br>
            <!-- <div style="text-align: center;">
                <button  class="btn btn-dark w3-animate-bottom"><a style="text-decoration: none; color: 18a3e4;" href="#welcome">Know More</a></button>
            </div> -->
            <img style="background: linear-gradient(to top, teal, transparent); padding: 0; margin: 0;" class="w3-animate-bottom"  src="../../assets/mountain_PNG18.png" class="container-fluid">
            
        </section>
        <div class="row">
            <div class="col-3" style="background: linear-gradient(to bottom, #001c25, transparent); padding: 0; margin: 0;">Kunal<br><br><br><br></div>
            <div class="col-9" style="background: linear-gradient(to bottom, #002b33, transparent); padding: 0; margin: 0;">kunal<br><br><br><br></div>
        </div>
        
       
        <!-- <div id="welcome" class="container-fluid padding">
            <div style="color: whitesmoke;" class="row welcome text-center">
                <div class="col-12">
                    <h1 style="font-size: 250%;">Welcome People</h1>
                </div>
                <hr>
                <div class="col-12">
                    <h3 class="lead">
                        What are welcome messages anyway? Are they so important that somebody would put together
                        a whole blog post on them? Well, they are, and when used smartly, welcome messages become
                        a truly powerful marketing tool.
                    </h3>
                </div>
            </div>
        </div> -->
        <!--- Two Column Section -->
        <br>
        <div id="about"  class="container-fluid padding">
            <div class="row padding">
                <div class="col-md-12 container-fluid text-center">
                    <p id="text1">About</p>
                </div>
                <div style="color: white;" class="col-md-6 container-fluid text-center">
                    <br>
                    <p class="lead">
                        You send a welcome message after the user has finally converted – 
                        subscribed or created an account with you. It seems that your job 
                        is done, you’ve got yourself a new customer, so why bother? 
                    </p>
                    <p class="lead">
                        Wrong. A welcome message can seal the bond. It’s the same as a 
                        “Can I help you?” that you hear when you enter a shop. You are 
                        a customer, you are being attended to, you are important.
                    </p>
                    <p class="lead">
                        You never get a second chance to make a first impression.
                    </p>
                    <a href="#">
                        <button class="container-fluid" type="button" class="btn btn-dark">Learn More</button>
                    </a>
                </div>   
        </div>
        </div>
        <br>
        <!-- <div class="container-fluid text-center">
            <img src="../../assets/about-gif.gif">
        </div> -->
        <br><br>
        <div id="skills"  class="container-fluid padding">
            <div class="row padding">
                <div class="col-md-6 container-fluid" >
                    <p id="text1">Skills</p>
                </div>
                <div style="color: white;" class="skillbar col-md-6 container-fluid">
                    <div class="">
                    <p class="lead">HTML</p>
                    <ngx-skill-bar class="text-center" showFigures="true" percentage="98" numberOfBars="8" bgColor="#263238" color="#FF5722"></ngx-skill-bar>
                    <br><p class="lead">CSS</p>
                    <ngx-skill-bar showFigures="true" percentage="85" numberOfBars="8" bgColor="#263238" color="teal"></ngx-skill-bar>
                    <br><p class="lead">JS</p>
                    <ngx-skill-bar showFigures="true" percentage="85" numberOfBars="8" bgColor="#263238" color="#FBC02D"></ngx-skill-bar>
                    <br><p class="lead">NodeJS</p>
                    <ngx-skill-bar showFigures="true" percentage="80" numberOfBars="8" bgColor="#263238" color="#90A4AE"></ngx-skill-bar>
                    <br><p class="lead">Angular</p>
                    <ngx-skill-bar showFigures="true" percentage="70" numberOfBars="8" bgColor="#263238" color="#E91E63"></ngx-skill-bar>
                    <br><p class="lead">Python</p>
                    <ngx-skill-bar showFigures="true" percentage="80" numberOfBars="8" bgColor="#263238" color="#D500F9"></ngx-skill-bar>
                    <br><p class="lead">Java</p>
                    <ngx-skill-bar showFigures="true" percentage="70" numberOfBars="8" bgColor="#263238" color="red"></ngx-skill-bar>
                </div>
                </div>
                
            </div>
            </div>

            <!--- Connect -->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h1>Connect</h1>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
    </div>
            <!-- <div class="container-fluid text-center">
                <img src="../../assets/about-gif.gif">
            </div> -->
    </body>
</html>
